.home{
  font-size: 22px;
  padding: 3px 15px;
  margin-top: 10px;
}

.grid{
  display: flex;
  align-items: center;
}

.userPhoto{
  border-radius: 50%;
  margin: 2px 7px;
}

.tweetBox{
  border: none;
  text-align: left;

}


